.App {
  text-align: center;
  font-family: Arial, sans-serif;
}


.rename-modal {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.custom-header {
  border: 2px solid #bbb6b6;
  background-color: #cecccc ;
  
}

.custom-header:hover {
  cursor: pointer;
  background-color: #cecccc !important;
}

.hover-row:hover {
  background-color: #f0f0f0 !important;
  cursor: pointer;
}

